body {
	background-color: #F5F5F5;
}

main {
	margin-left: 40px;
	margin-right: 40px;
}

.hero-body {
	background-color: #3a72a9;
}

.fa-user-lock {padding-left: 10px;}

.tables {
	padding: 20px;
}

.box {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

th, td {padding: 10px;}

th {
	background-color: #F5F5F5;
	text-transform: capitalize;
}

.subtitle {
	color: #3a72a9;
	text-align: center;
}

.hidden {
  display: none;
}

.structure-pages {
	padding-top: 80px;
	padding-bottom: 300px;
}

form .columns {
	margin-top: 200px;
	margin-bottom: 200px;
}

form .columns .field {padding-top: 20px;}


